<% content_for :head do %>
  <% product = @featured_product ? @featured_product : @products.first %>
  <meta property="og:title" content="<%= product.title %>"/>
  <meta property="og:image" content="<%= image_path product.image_url(:facebook_thumb) %>" />
<% end %>

<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product_path(product) %></td>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= image_tag(product.image_url(:facebook_thumb)) if product.image? %></td>
        <td>
          <div class="fb-like" data-href="<%= products_url(featured_id: product.id) %>" data-send="false" data-width="450" data-show-faces="false"></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
